#sage-modal-body {
  padding: 15px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  background: url(../images/smarta_en_bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 400px;
  overflow-y: scroll;
}
#modal .sage-modal-title {
  font-size: 17px;
  font-weight: bold;
}
#sage-msg {
  color: #9f55f2;
}
.custom-dialog-class {
  display: none;
}
#question-form {
  width: 85%;
  margin: 0 10px;
  padding: 3px 15px;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border: 1px solid #e3e3e3;
  border-radius: 9px;
}

#question-form #question-input {
  border: none;
  outline: none;
  background-color: transparent;
}
#question-form #question-input:focus {
  outline: none;
  box-shadow: none;
}
#new-topic {
  margin-right: 20px;
  cursor: pointer;
}
#new-topic img {
  width: 18px;
  margin-right: 10px;
}
#new-topic span {
  color: #6638fb;
  font-size: 17px;
}
#send-img {
  cursor: pointer;
  width: 25px;
}
@media (max-width: 992px) {
  #new-topic span {
    font-size: 14px;
  }
  #new-topic {
    margin-right: 14px;
    cursor: pointer;
  }
  #new-topic img {
    width: 14px;
    margin-right: 5px;
  }
  #question-form {
    width: 65%;
  }
}
